# parte 1 - databootcamp - 17.fev.2018

**texto** puro usando markdown.
(https://i.pinimg.com/originals/59/fc/98/59fc984c571e46f5b18a7d94a40bb8ce.jpg)

In [6]:
nome = "gabriela"
nome

'gabriela'

In [7]:
nome = "gabriela"
print(nome)

gabriela

In [9]:
type(nome)

str

In [10]:
integer = 1

In [11]:
type(integer)

int

In [12]:
string = "1" + "0.5"

In [13]:
string

'10.5'

In [15]:
type(string)

str

In [16]:
turma = """gabriela
priscila
debora
laura
giovanna
helena
"""

In [17]:
print(turma)

gabriela
priscila
debora
laura
giovanna
helena

In [19]:
1 + 10

11

In [20]:
11 * 7

77

In [21]:
11 / 2

5.5

In [22]:
divisao = 11 / 3

In [23]:
type(divisao)

float

In [24]:
11 // 2

5

In [25]:
2 ** 2 #potência

4

In [27]:
11 % 2 #informa o resto da divisão

1

In [29]:
diaDeHoje = 17

In [30]:
diaDeHoje + 1

18

In [31]:
print(diaDeHoje)

17

In [32]:
nome = "gabr"
print("oi, " + nome)

oi, gabr

In [33]:
sobrenome = "caesar"
separador = " | "
print((sobrenome + separador) * 4)

caesar | caesar | caesar | caesar |

In [34]:
nome = "gabr"
print(nome * 4)

gabrgabrgabrgabr

In [36]:
";".join(["gabriela", "caesar"])

'gabriela;caesar'

In [37]:
personagem = "luana"
idade = 30
print(personagem, idade)

luana 30

In [40]:
personagem, idade = "pedro", 31

In [41]:
print(personagem, idade)

pedro 31

In [42]:
ingredientesBigMac = [
    "pao com gergelim",
    "picles",
    "alface",
    "queijo"
]

In [43]:
ingredientesBigMac

['pao com gergelim', 'picles', 'alface', 'queijo']

In [44]:
ingredientesBigMac = [
    "pao com gergelim", "picles", "alface", "queijo"
]

In [45]:
ingredientesBigMac

['pao com gergelim', 'picles', 'alface', 'queijo']

In [46]:
ingredientesBigMac = [
        "pao com gergelim", 
    "picles", "alface", 
    "queijo"
]

In [47]:
ingredientesBigMac

['pao com gergelim', 'picles', 'alface', 'queijo']

snake_case = ingredientes_do_big_mac

In [7]:
minha_sala = [
    "televisao",
    "fogao",
    "geladeira",
    "chuveiro",
    "incenso",
    "baratas",
    "som",
    "sofa",
    "janela",
    "roupa",
    "mala",
    "cacto",
    "espelho",
    "louça",
    "laptop"
]

In [52]:
minha_sala[0]

'televisao'

In [53]:
minha_sala[-1]

'laptop'

In [54]:
minha_sala[1:7]

['fogao', 'geladeira', 'chuveiro', 'incenso', 'baratas', 'som']

In [55]:
minha_sala[-2]

'louça'

In [56]:
item1 = "tv"

In [57]:
item1[1]

'v'

In [58]:
minha_sala[1:-1] #quero todos os itens, menos o primeiro e o último

['fogao',
 'geladeira',
 'chuveiro',
 'incenso',
 'baratas',
 'som',
 'sofa',
 'janela',
 'roupa',
 'mala',
 'cacto',
 'espelho',
 'louça']

In [59]:
minha_sala[1:] #quero do segundo item em diante

['fogao',
 'geladeira',
 'chuveiro',
 'incenso',
 'baratas',
 'som',
 'sofa',
 'janela',
 'roupa',
 'mala',
 'cacto',
 'espelho',
 'louça',
 'laptop']

In [61]:
minha_sala[:3] #quero apenas os tres primeiros itens

['televisao', 'fogao', 'geladeira']

In [62]:
minha_sala.index("fogao") #vc passa o valor, e o notebook te passa a posicao do item

1

In [63]:
minha_sala.append("poltrona")

In [64]:
print(minha_sala)

['televisao', 'fogao', 'geladeira', 'chuveiro', 'incenso', 'baratas', 'som', 'sofa', 'janela', 'roupa', 'mala', 'cacto', 'espelho', 'louça', 'laptop', 'poltrona']

In [65]:
minha_sala.append(123456)

In [66]:
print(minha_sala)

['televisao', 'fogao', 'geladeira', 'chuveiro', 'incenso', 'baratas', 'som', 'sofa', 'janela', 'roupa', 'mala', 'cacto', 'espelho', 'louça', 'laptop', 'poltrona', 123456]

In [67]:
#a minha lista pode ter itens de diferentes tipos (str, integer etc)

In [4]:
alturas = [1.55, 1.35, 1.70, 1.73, 1.75]

In [69]:
soma_alturas = sum(alturas)

In [70]:
print(soma_alturas)

8.08

In [72]:
minha_sala.remove("baratas")

In [73]:
print(minha_sala)

['televisao', 'fogao', 'geladeira', 'chuveiro', 'incenso', 'som', 'sofa', 'janela', 'roupa', 'mala', 'cacto', 'espelho', 'louça', 'laptop', 'poltrona', 123456]

In [80]:
# minha_sala.clear? >> se eu coloco o nome da funcao e o ponto de interrogacao, eu vejo uma descricao do que a funcao faz

In [76]:
minha_sala.pop(5)

'som'

In [77]:
print(minha_sala)

['televisao', 'fogao', 'geladeira', 'chuveiro', 'incenso', 'sofa', 'janela', 'roupa', 'mala', 'cacto', 'espelho', 'louça', 'laptop', 'poltrona', 123456]

In [78]:
# pop deleta o item, indicado pela posicao, e te diz qual foi o item deletado

In [81]:
max(alturas)

1.75

In [82]:
min(alturas)

1.35

In [2]:
# aqui vc pode ver a documentacao das funcoes
# https://docs.python.org/3/library/functions.html

In [5]:
sorted(alturas) #ordenando os itens da lista

[1.35, 1.55, 1.7, 1.73, 1.75]

In [8]:
sorted(minha_sala)

['baratas',
 'cacto',
 'chuveiro',
 'espelho',
 'fogao',
 'geladeira',
 'incenso',
 'janela',
 'laptop',
 'louça',
 'mala',
 'roupa',
 'sofa',
 'som',
 'televisao']

In [9]:
sorted("gabriela")

['a', 'a', 'b', 'e', 'g', 'i', 'l', 'r']

In [15]:
# dicionario eh uma estrutura de dados baseado no comando chave/valor.
# a estrutura eh similiar à de um formulário
nome_altura = {
    "jose silva": 1.35,
    "maria carolina": 1.73,
    "beatriz terra": 2.06,
    "lohan carvalho": 2.16
}

In [17]:
nome_altura["jose silva"]

1.35

In [19]:
bio = {
    "nome": "gabriela caesar",
    "altura": 1.71,
    "email": "caesar.gabriela@gmail.com",
    "idade": 25
}

In [20]:
bio["twitter"] = "@gabrielacaesar"

In [21]:
bio

{'altura': 1.71,
 'email': 'caesar.gabriela@gmail.com',
 'idade': 25,
 'nome': 'gabriela caesar',
 'twitter': '@gabrielacaesar'}

In [31]:
bio["endereco"] = {
    "cep": 4583115,
    "bairro": "vila cordeiro",
    "cidade": "sp",
    "uf": "sp",
    "rua": "evandro carlos de andrade",
    "numero": 160
}

In [32]:
bio

{'altura': 1.71,
 'email': 'caesar.gabriela@gmail.com',
 'endereco': {'bairro': 'vila cordeiro',
  'cep': 4583115,
  'cidade': 'sp',
  'numero': 160,
  'rua': 'evandro carlos de andrade',
  'uf': 'sp'},
 'idade': 25,
 'nome': 'gabriela caesar',
 'twitter': '@gabrielacaesar'}

In [33]:
bio["endereco"]["uf"]

'sp'

In [34]:
endereco = bio["endereco"]
endereco

{'bairro': 'vila cordeiro',
 'cep': 4583115,
 'cidade': 'sp',
 'numero': 160,
 'rua': 'evandro carlos de andrade',
 'uf': 'sp'}

In [35]:
del bio["altura"]

In [36]:
bio

{'email': 'caesar.gabriela@gmail.com',
 'endereco': {'bairro': 'vila cordeiro',
  'cep': 4583115,
  'cidade': 'sp',
  'numero': 160,
  'rua': 'evandro carlos de andrade',
  'uf': 'sp'},
 'idade': 25,
 'nome': 'gabriela caesar',
 'twitter': '@gabrielacaesar'}

In [37]:
bio["idade"] = 26
bio

{'email': 'caesar.gabriela@gmail.com',
 'endereco': {'bairro': 'vila cordeiro',
  'cep': 4583115,
  'cidade': 'sp',
  'numero': 160,
  'rua': 'evandro carlos de andrade',
  'uf': 'sp'},
 'idade': 26,
 'nome': 'gabriela caesar',
 'twitter': '@gabrielacaesar'}

In [38]:
aluno1 = {"nome": "rebeca", "idade": 29}
aluno2 = {"nome": "lucas", "idade": 32}

In [39]:
lista_alunos = [aluno1, aluno2]
print(lista_alunos)

[{'idade': 29, 'nome': 'rebeca'}, {'idade': 32, 'nome': 'lucas'}]

In [48]:
familia = {
"cristina": {"nome": "cristina", "idade": 23, "parentesco": "irma"},
"flavia": {"nome": "flavia", "idade": 45, "parentesco": "irma"},
"monica": {"nome": "monica", "idade": 42, "parentesco": "irma"},
"hans": {"nome": "hans", "idade": 74, "parentesco": "pai"},
"suzana": {"nome": "suzana", "idade": 51, "parentesco": "mae"},
"vania": {"nome": "vania", "idade": 78, "parentesco": "avo"},
"luiz": {"nome": "luiz", "idade": 60, "parentesco": "tio"},
"moraes": {"nome": "moraes", "idade": 42, "parentesco": "cunhado"}
}

In [57]:
familia # dicionario

[{'idade': 74, 'nome': 'hans', 'parentesco': 'pai'},
 {'idade': 23, 'nome': 'cristina', 'parentesco': 'irma'},
 {'idade': 45, 'nome': 'flavia', 'parentesco': 'irma'},
 {'idade': 42, 'nome': 'monica', 'parentesco': 'irma'},
 {'idade': 51, 'nome': 'suzana', 'parentesco': 'mae'},
 {'idade': 78, 'nome': 'vania', 'parentesco': 'avo'},
 {'idade': 60, 'nome': 'luiz', 'parentesco': 'tio'},
 {'idade': 42, 'nome': 'moraes', 'parentesco': 'cunhado'}]

In [49]:
# para o notebook mostrar o numero de cada linha
# a celular nao deve ficar verde e, por isso, clicamos no 'esc'
# depois clicamos na letra 'l'

In [58]:
familia= []
cristina = {"nome": "cristina", "idade": 23, "parentesco": "irma"}
flavia = {"nome": "flavia", "idade": 45, "parentesco": "irma"}
monica = {"nome": "monica", "idade": 42, "parentesco": "irma"}
hans = {"nome": "hans", "idade": 74, "parentesco": "pai"}
suzana = {"nome": "suzana", "idade": 51, "parentesco": "mae"}
vania = {"nome": "vania", "idade": 78, "parentesco": "avo"}
luiz = {"nome": "luiz", "idade": 60, "parentesco": "tio"}
moraes = {"nome": "moraes", "idade": 42, "parentesco": "cunhado"}
# listas

In [59]:
familia.append(hans)

In [60]:
familia

[{'idade': 74, 'nome': 'hans', 'parentesco': 'pai'}]

In [61]:
familia.append(cristina)
familia.append(flavia)
familia.append(monica)
familia.append(suzana)
familia.append(vania)
familia.append(luiz)
familia.append(moraes)

In [55]:
familia

[{'idade': 74, 'nome': 'hans', 'parentesco': 'pai'},
 {'idade': 23, 'nome': 'cristina', 'parentesco': 'irma'},
 {'idade': 45, 'nome': 'flavia', 'parentesco': 'irma'},
 {'idade': 42, 'nome': 'monica', 'parentesco': 'irma'},
 {'idade': 51, 'nome': 'suzana', 'parentesco': 'mae'},
 {'idade': 78, 'nome': 'vania', 'parentesco': 'avo'},
 {'idade': 60, 'nome': 'luiz', 'parentesco': 'tio'},
 {'idade': 42, 'nome': 'moraes', 'parentesco': 'cunhado'}]

In [62]:
alturas = [1.55, 1.65, 1.85, 1.71, 1.90]

In [63]:
for altura in alturas:
    print(altura)

1.55
1.65
1.85
1.71
1.9

In [64]:
total = 0
for altura in alturas:
    total = altura + total
total

8.66

In [65]:
sum(alturas)

8.66

In [66]:
alturas_em_metro = [1.72, 1.60, 1.57, 1.88]

In [68]:
for altura in alturas_em_metro:
    print(altura * 100)

172.0
160.0
157.0
188.0

In [72]:
for altura in alturas_em_metro:
    print("minha altura em cm: ", altura * 100)

minha altura em cm:  172.0
minha altura em cm:  160.0
minha altura em cm:  157.0
minha altura em cm:  188.0

In [73]:
altura_em_cm = []

In [78]:
altura_em_cm = []

for altura in alturas_em_metro:
    cm = altura * 100
    altura_em_cm.append(cm)
    print("minha altura em cm: ", altura_em_cm)

minha altura em cm:  [172.0]
minha altura em cm:  [172.0, 160.0]
minha altura em cm:  [172.0, 160.0, 157.0]
minha altura em cm:  [172.0, 160.0, 157.0, 188.0]

In [79]:
altura_em_cm

[172.0, 160.0, 157.0, 188.0]

In [80]:
type(altura_em_cm[0])

float

In [81]:
int(altura_em_cm[0])

172

In [83]:
type(int(altura_em_cm[0]))

int

In [84]:
numero = str(42)

In [85]:
numero

'42'