In [1]:
import pandas as pd

In [2]:
petr4 = pd.read_csv("http://www.google.com/finance/historical?cid=868181216622781&startdate=Aug+28%2C+2016&enddate=Aug+27%2C+2017&num=30&ei=iV-iWbCHIor7mAHT2Y6QAQ&output=csv")

In [3]:
petr4

          Date   Open   High    Low  Close    Volume
0    25-Aug-17  13.87  13.94  13.81  13.88  24051100
1    24-Aug-17  13.78  13.89  13.68  13.80  32030600
2    23-Aug-17  13.78  13.93  13.65  13.76  47482200
3    22-Aug-17  13.70  13.87  13.64  13.79  54764100
4    21-Aug-17  13.64  13.66  13.28  13.34  39582700
5    18-Aug-17  13.16  13.60  13.16  13.60  65891500
6    17-Aug-17  13.12  13.26  13.02  13.05  23131800
7    16-Aug-17  13.30  13.38  13.10  13.13  44737400
8    15-Aug-17  13.08  13.24  13.05  13.15  24105400
9    14-Aug-17  12.98  13.22  12.91  13.08  31403400
10   11-Aug-17  13.14  13.20  12.85  12.95  41998700
11   10-Aug-17  13.60  13.66  13.15  13.19  55798400
12    9-Aug-17  13.51  13.61  13.44  13.52  26742200
13    8-Aug-17  13.50  13.69  13.46  13.49  28907900
14    7-Aug-17  13.35  13.62  13.33  13.55  29679700
15    4-Aug-17  13.41  13.48  13.26  13.40  21473800
16    3-Aug-17  13.57  13.66  13.30  13.31  31075700
17    2-Aug-17  13.13  13.61  13.08  13.51  45845200
18    1-Aug-17  13.30  13.32  13.08  13.12  22525100
19   31-Jul-17      -  13.31  13.07  13.29  31152200
20   28-Jul-17  12.98  13.14  12.91  13.13  20749800
21   27-Jul-17  13.05  13.17  12.97  13.00  21503100
22   26-Jul-17  13.30  13.34  12.95  12.98  28933200
23   25-Jul-17  13.01  13.25  13.01  13.22  29507000
24   24-Jul-17  12.83  12.92  12.77  12.88  16117200
25   21-Jul-17  13.00  13.04  12.67  12.69  38396400
26   20-Jul-17  13.29  13.35  13.03  13.10  30114300
27   19-Jul-17  13.00  13.27  12.97  13.21  31085700
28   18-Jul-17  13.00  13.02  12.83  12.94  19031100
29   17-Jul-17  13.03  13.05  12.87  12.89  27951200
..         ...    ...    ...    ...    ...       ...
218  10-Oct-16  15.52  15.77  15.51  15.73  38276900
219   7-Oct-16  15.23  15.38  14.97  15.26  71451100
220   6-Oct-16  14.71  15.10  14.62  15.10  76742600
221   5-Oct-16  14.19  14.64  14.16  14.58  64885900
222   4-Oct-16  13.98  14.12  13.83  14.02  39164500
223   3-Oct-16  13.67  13.97  13.62  13.97  34213400
224  30-Sep-16  13.53  13.77  13.44  13.57  38771900
225  29-Sep-16  13.80  13.90  13.43  13.43  52739800
226  28-Sep-16  13.30  13.85  13.12  13.85  68638800
227  27-Sep-16  13.40  13.40  12.87  13.12  57601700
228  26-Sep-16  13.59  13.69  13.39  13.40  35279500
229  23-Sep-16  13.98  13.98  13.54  13.69  52484600
230  22-Sep-16  13.89  14.09  13.84  14.00  47350800
231  21-Sep-16  13.60  13.69  13.40  13.66  60692700
232  20-Sep-16  13.45  13.63  13.33  13.50  51793200
233  19-Sep-16  13.42  13.54  13.02  13.05  50843600
234  16-Sep-16  13.34  13.42  13.16  13.16  44390800
235  15-Sep-16  13.21  13.56  13.16  13.51  42013500
236  14-Sep-16  13.15  13.36  12.97  13.11  43701300
237  13-Sep-16  13.70  13.85  12.94  13.01  63836600
238  12-Sep-16  13.32  13.95  13.27  13.95  44001900
239   9-Sep-16  13.96  14.02  13.51  13.51  42394100
240   8-Sep-16  14.07  14.29  13.96  14.22  42521700
241   6-Sep-16  13.69  13.98  13.53  13.98  41469800
242   5-Sep-16  13.79  13.93  13.73  13.83  26036400
243   2-Sep-16  13.22  13.58  13.15  13.57  56739700
244   1-Sep-16  12.97  13.09  12.76  13.00  45169600
245  31-Aug-16  13.13  13.22  12.71  12.85  60716500
246  30-Aug-16  13.04  13.23  12.97  13.09  51384500
247  29-Aug-16  12.50  12.96  12.45  12.87  36593800

[248 rows x 6 columns]

In [4]:
petr4.head()

        Date   Open   High    Low  Close    Volume
0  25-Aug-17  13.87  13.94  13.81  13.88  24051100
1  24-Aug-17  13.78  13.89  13.68  13.80  32030600
2  23-Aug-17  13.78  13.93  13.65  13.76  47482200
3  22-Aug-17  13.70  13.87  13.64  13.79  54764100
4  21-Aug-17  13.64  13.66  13.28  13.34  39582700

In [5]:
petr4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 6 columns):
Date      248 non-null object
Open      248 non-null object
High      248 non-null float64
Low       248 non-null float64
Close     248 non-null float64
Volume    248 non-null int64
dtypes: float64(3), int64(1), object(2)
memory usage: 11.7+ KB

In [6]:
petr4.Volume

0      24051100
1      32030600
2      47482200
3      54764100
4      39582700
5      65891500
6      23131800
7      44737400
8      24105400
9      31403400
10     41998700
11     55798400
12     26742200
13     28907900
14     29679700
15     21473800
16     31075700
17     45845200
18     22525100
19     31152200
20     20749800
21     21503100
22     28933200
23     29507000
24     16117200
25     38396400
26     30114300
27     31085700
28     19031100
29     27951200
         ...
218    38276900
219    71451100
220    76742600
221    64885900
222    39164500
223    34213400
224    38771900
225    52739800
226    68638800
227    57601700
228    35279500
229    52484600
230    47350800
231    60692700
232    51793200
233    50843600
234    44390800
235    42013500
236    43701300
237    63836600
238    44001900
239    42394100
240    42521700
241    41469800
242    26036400
243    56739700
244    45169600
245    60716500
246    51384500
247    36593800
Name: Volume, Length: 248, dtype: int64

In [7]:
    petr4.Volume.value_counts()

47586300    1
29507000    1
58381500    1
67068600    1
71451100    1
51424400    1
31877300    1
37651300    1
38490800    1
5734300     1
38276900    1
42453600    1
22525100    1
23131800    1
44215700    1
32667300    1
59122000    1
18979900    1
30807200    1
25599000    1
63916700    1
41208700    1
44001900    1
42613400    1
42240500    1
55059600    1
35436700    1
57601700    1
33685800    1
64885900    1
           ..
31849500    1
29163900    1
20069600    1
28907900    1
62901500    1
30481800    1
44737400    1
65860200    1
27363700    1
37689700    1
41998700    1
68718800    1
31403400    1
49623400    1
68638800    1
37876200    1
32608100    1
34089700    1
51535300    1
42059100    1
28933200    1
25661000    1
47482200    1
41104800    1
37071700    1
34443600    1
14949200    1
27881200    1
45204300    1
29504000    1
Name: Volume, Length: 248, dtype: int64

In [8]:
petr4.Close.value_counts()

13.05    4
13.60    4
13.57    4
15.58    4
13.00    3
12.94    3
13.40    3
15.66    3
12.87    3
15.70    3
15.10    3
15.50    3
13.51    3
14.00    3
15.45    2
14.01    2
14.85    2
18.09    2
14.08    2
13.13    2
15.68    2
13.97    2
12.85    2
14.66    2
13.95    2
13.15    2
15.86    2
14.45    2
11.93    2
14.70    2
        ..
17.62    1
18.10    1
17.42    1
15.48    1
12.33    1
13.59    1
13.99    1
15.76    1
16.90    1
16.65    1
14.41    1
16.26    1
12.69    1
13.43    1
14.87    1
13.77    1
16.13    1
14.10    1
13.09    1
12.43    1
12.62    1
13.10    1
15.84    1
14.16    1
14.94    1
13.34    1
17.69    1
15.39    1
12.89    1
15.33    1
Name: Close, Length: 183, dtype: int64

In [9]:
petr4.Open.value_counts()

13.30    4
12.96    4
15.77    4
15.18    3
15.74    3
13.80    3
16.00    3
13.00    3
13.70    3
12.98    3
15.84    2
15.94    2
13.60    2
14.46    2
12.34    2
14.07    2
15.05    2
14.99    2
16.01    2
13.35    2
12.28    2
15.90    2
14.34    2
13.21    2
14.13    2
14.15    2
14.55    2
14.04    2
15.20    2
13.78    2
        ..
14.14    1
14.50    1
14.97    1
14.33    1
15.11    1
13.28    1
13.47    1
13.40    1
13.55    1
17.31    1
15.23    1
13.87    1
13.42    1
14.64    1
12.79    1
13.85    1
14.36    1
14.95    1
11.83    1
12.27    1
16.47    1
15.93    1
12.64    1
15.60    1
12.25    1
15.61    1
13.89    1
15.64    1
16.12    1
14.19    1
Name: Open, Length: 186, dtype: int64

In [11]:
petr4.Close.value_counts().reset_index()

     index  Close
0    13.05      4
1    13.60      4
2    13.57      4
3    15.58      4
4    13.00      3
5    12.94      3
6    13.40      3
7    15.66      3
8    12.87      3
9    15.70      3
10   15.10      3
11   15.50      3
12   13.51      3
13   14.00      3
14   15.45      2
15   14.01      2
16   14.85      2
17   18.09      2
18   14.08      2
19   13.13      2
20   15.68      2
21   13.97      2
22   12.85      2
23   14.66      2
24   13.95      2
25   13.15      2
26   15.86      2
27   14.45      2
28   11.93      2
29   14.70      2
..     ...    ...
153  17.62      1
154  18.10      1
155  17.42      1
156  15.48      1
157  12.33      1
158  13.59      1
159  13.99      1
160  15.76      1
161  16.90      1
162  16.65      1
163  14.41      1
164  16.26      1
165  12.69      1
166  13.43      1
167  14.87      1
168  13.77      1
169  16.13      1
170  14.10      1
171  13.09      1
172  12.43      1
173  12.62      1
174  13.10      1
175  15.84      1
176  14.16      1
177  14.94      1
178  13.34      1
179  17.69      1
180  15.39      1
181  12.89      1
182  15.33      1

[183 rows x 2 columns]