In [1]:
import pandas as pd

In [3]:
petr4 = pd.read_csv("http://www.google.com/finance/historical?cid=868181216622781&startdate=Aug+28%2C+2016&enddate=Aug+27%2C+2017&num=30&ei=iV-iWbCHIor7mAHT2Y6QAQ&output=csv")

In [4]:
petr4.head()

        Date   Open   High    Low  Close    Volume
0  25-Aug-17  13.87  13.94  13.81  13.88  24051100
1  24-Aug-17  13.78  13.89  13.68  13.80  32030600
2  23-Aug-17  13.78  13.93  13.65  13.76  47482200
3  22-Aug-17  13.70  13.87  13.64  13.79  54764100
4  21-Aug-17  13.64  13.66  13.28  13.34  39582700

In [5]:
petr4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 6 columns):
Date      248 non-null object
Open      248 non-null object
High      248 non-null float64
Low       248 non-null float64
Close     248 non-null float64
Volume    248 non-null int64
dtypes: float64(3), int64(1), object(2)
memory usage: 11.7+ KB

In [6]:
petr4.max()

Date       9-Sep-16
Open          18.26
High          18.49
Low           18.09
Close          18.2
Volume    142384600
dtype: object

In [7]:
petr4.min()

Date      1-Aug-17
Open             -
High         12.03
Low          11.59
Close        11.64
Volume     5734300
dtype: object

In [8]:
petr4.Close.median()

14.215

In [11]:
petr4.Low.median()

13.99

In [12]:
petr4.High.median()

14.385

In [13]:
petr4.Volume.median()

39765250.0

In [14]:
petr4.Volume.mean()

42682370.96774194

In [15]:
petr4.Volume.sum()

10585228000

In [16]:
abertura = petr4.Open

In [17]:
fechamento = petr4.Close

In [21]:
abertura.describe()

count       248
unique      186
top       12.96
freq          4
Name: Open, dtype: object

In [22]:
fechamento.describe()

count    248.000000
mean      14.384032
std        1.383641
min       11.640000
25%       13.305000
50%       14.215000
75%       15.500000
max       18.200000
Name: Close, dtype: float64